<div class="container">
  <h1>Example of Select Dropdown in Angular</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="color">Color:</label>
      <select formControlName="color" class="form-control">
        <option disabled>Select color</option>
        <option>Choose color</option>
        <option *ngFor="let color of colors">{{ color }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </form>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Geeks of Geeks</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true"> × </span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth"> Date of birth </label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #dp="ngbDatepicker"
            />

            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="dp.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Popup using Angular and Bootstrap
  </button>
</div>

<div class="container" style="margin-top: 30px; width: 50%">
  <div>
    <p>This is not clickable</p>
    <h1 data-dd-action-name="header">Example of popover Dropdown in Angular</h1>
  </div>
  <div data-dd-action-name>
    <!-- <user-profile></user-profile> -->
    <ng-container>
      <div>
        <ng-template #popContent>
          <label>Notes</label>
          <p>The id of client is popup</p>
          <p>Event identifier test2</p>
        </ng-template>

        <button
          type="button"
          class="btn btn-outline-secondary"
          placement="bottom"
          [ngbPopover]="popContent"
          popoverTitle="Popover on bottom"
        >
          Popover on bottom
        </button>
      </div>
    </ng-container>
  </div>
</div>
